/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #302396e3;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #eceff1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #333;
}

.menu {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  width: 90%;
}

.menu input[type="text"] {
  padding: 12px;
  font-size: 18px;
  border: 1px solid #b0bec5;
  border-radius: 6px;
  margin-right: 15px;
  width: 200px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.menu input[type="text"]:focus {
  border-color: #1e88e5;
  box-shadow: 0 0 4px rgba(30, 136, 229, 0.25);
}

.menu button {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 25px;
  margin-left: 20px;
  transition: background-color 0.3s, transform 0.2s;
}

.menu button:hover {
  background-color: var(--primary-color);
  transform: scale(1.05);
}

.container {
  background-color: #ffffff;
  width: 90%;
  height: 100vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: relative;
}

#cy {
  width: 100%;
  height: 100%;
}

h1 {
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: fit-content;
} */
/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #302396e3;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #eceff1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #333;
}

.menu {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  width: 90%;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
}

/* Estilos para los inputs */
.menu input[type="text"] {
  padding: 12px;
  font-size: 18px;
  border: 1px solid #b0bec5;
  border-radius: 6px;
  margin-right: 15px;
  width: 200px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.menu input[type="text"]:focus {
  border-color: #1e88e5;
  box-shadow: 0 0 4px rgba(30, 136, 229, 0.25);
}

/* Estilos para los botones */
.menu button {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 25px;
  margin-left: 20px;
  transition: background-color 0.3s, transform 0.2s;
}

.menu button:hover {
  background-color: var(--primary-color);
  transform: scale(1.05);
}

/* Estilos para el contenedor */
.container {
  background-color: #ffffff;
  width: 90%;
  height: 100vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: relative;
}

#cy {
  width: 100%;
  height: 100%;
}

/* Estilos para el encabezado */
h1 {
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: fit-content;
}

/* Consulta de medios para pantallas pequeñas */
@media (max-width: 600px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }

  .menu input[type="text"] {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%; /* Ajustar el ancho del input */
  }

  .menu button {
    margin: 10px 0;
    width: 100%; /* Ajustar el ancho de los botones */
  }
}
